.header {
	text-align: center;
	.header-title {
		font-size: 1.5em;
		margin: 1em 0;
	}
	.header-data {
		div {
			display: inline-block;
			width: 24%;
		}
	}
}
.charts {
	width: 100%;
	padding: 1em;
	text-align: center;
	.title {
		font-weight: bold;
		font-size: 135%;
		font-family: sans-serif;
	}
	.chart {
		width: 46%;
		min-width: 20em;
	}
}
.tables {
	text-align: center;
}