<table id="boletoTable" class="table table-hover table-striped">
	<thead>
		<tr class="title">
			<th colspan="6">
				BOLETOS <i>({{boletos().length}})</i> &nbsp;&nbsp;
				<button class="btn btn-sm btn-primary"  [class.btn-warning]="!collapsed" (click)="collapsed = !collapsed">
					{{collapsed ? "EXPANDIR" : "RECOLHER"}}
				</button>
			</th>
		</tr>
		<tr #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
			<th>BANCO</th>
			<th>PGTO.</th>
			<th>VENC.</th>
			<th>FORNECEDOR</th>
			<th>VALOR</th>
			<th>PARCELA</th>
			<th>TAGS &nbsp; 
				<span *ngIf="!printMode" class="form-switch">
					<input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="propagate"/>
					<i [ngbPopover]="propagatePopover" triggers="mouseenter:mouseleave">Copiar Tag?</i>
				</span>
			</th>
			<th *ngIf="!printMode"> &nbsp; &nbsp; </th>
		</tr>
	</thead>
	<tbody #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
		<tr *ngFor="let boleto of boletos()" [class.danger]="boleto.auxStatus == 'error'">
			<td>{{boleto.bank_name}}</td>
			<td>{{boleto.payment_date | date:'dd/MM/YYYY'}}</td>
			<td>{{boleto.expiration_date | date:'dd/MM/YYYY'}}</td>
			<td>
				<ng-select *ngIf="!printMode" [items]="suppliers"
                    bindLabel="name"
                    autofocus
                    bindValue="name"
                    [(ngModel)]="boleto.supplier_name"
                    addTag="true">
        </ng-select>
        <span *ngIf="printMode">{{boleto.supplier_name}}</span>
			</td>
			<td>{{boleto.value | currency:'BRL'}}</td>
			<td>{{boleto.installments}}</td>
			<td>
				<ng-select *ngIf="!printMode" [items]="tags"
								addTag="true"
								[multiple]="true"
								placeholder="Selecione"
								bindLabel="name"
								[ngModel]="boleto.auxTags"
								(change)="tagChanged(boleto, $event)"></ng-select>
				<span *ngIf="printMode">{{boleto.tagsStr}}</span>
			</td>
			<td *ngIf="!printMode">
				<button class="btn btn-sm btn-danger" (click)="remove(boleto)">x</button>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Total:</td>
			<td>{{total | currency:'BRL'}}</td>
			<td></td>
		</tr>
	</tfoot>
</table>
<div *ngIf="canSave" class="send-container">
	<button class="btn btn-lg btn-primary" (click)="save()" [disabled]="sending">
		Enviar
	</button> <i *ngIf="sending">Enviando... por favor aguarde</i>
	&nbsp; &nbsp; &nbsp;
	<button class="btn btn-lg btn-warning" (click)="export()" [disabled]="sending || boletos().length == 0">
		Exportar
	</button>
</div>