<table id="incomeTable" class="table table-hover table-striped">
	<thead>
		<tr class="title">
			<th colspan="6">
				RECEITAS <i>({{incomes().length}})</i> &nbsp;&nbsp;
				<button class="btn btn-sm btn-primary"  [class.btn-warning]="!collapsed" (click)="collapsed = !collapsed">
					{{collapsed ? "EXPANDIR" : "RECOLHER"}}
				</button> &nbsp; &nbsp;
				<button class="btn btn-sm btn-info" (click)="filtering = !filtering">FILTRAR</button>
			</th>
		</tr>
		<tr #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
			<th class="sortable" (click)="sortBy('bank_name')">BANCO <span class="sort-indicator" *ngIf="sortField == 'bank_name'">{{sortDir == 'asc' ? '▲' : '▼'}}</span></th>
			<th class="sortable" (click)="sortBy('date_received')">DATA <span class="sort-indicator" *ngIf="sortField == 'date_received'">{{sortDir == 'asc' ? '▲' : '▼'}}</span></th>
			<th class="sortable" (click)="sortBy('income_type')">TIPO <span class="sort-indicator" *ngIf="sortField == 'income_type'">{{sortDir == 'asc' ? '▲' : '▼'}}</span></th>
			<th class="sortable" (click)="sortBy('origin')">ORIGEM <span class="sort-indicator" *ngIf="sortField == 'origin'">{{sortDir == 'asc' ? '▲' : '▼'}}</span></th>
			<th class="sortable" (click)="sortBy('value')">VALOR <span class="sort-indicator" *ngIf="sortField == 'value'">{{sortDir == 'asc' ? '▲' : '▼'}}</span></th>
			<th *ngIf="!printMode">&nbsp;</th>
		</tr>
		<tr *ngIf="filtering" #collapse="ngbCollapse" [(ngbCollapse)]="collapsed">
			<td>
				<ng-select [items]="availableBanks" [(ngModel)]="filters.bank_names" multiple="true"
				(change)="changeFilter('bank_names', $event)"></ng-select>
			</td>
			<td></td>
			<td>
				<ng-select [items]="availableIncomeTypes" [(ngModel)]="filters.income_types" multiple="true"
				(change)="changeFilter('income_types', $event)"></ng-select>
			</td>
			<td>
				<input type="number" [(ngModel)]="filters.value_min" placeholder="V. Mín" 
				class="form-control" (keyup)="delayApplyFilter()"/>
			</td>
			<td>
				<input type="number" [(ngModel)]="filters.value_max" placeholder="V. Máx" 
				class="form-control" (keyup)="delayApplyFilter()"/>
			</td>
		</tr>
	</thead>
	<tbody *ngIf="!collapsed">
		<tr *ngFor="let income of displayedIncomes; trackBy: trackByIncome" [class.danger]="income.auxStatus == 'error'">
			<td>{{income.bank_name}}</td>
			<td>{{income.date_received | date:'dd/MM/YYYY'}}</td>
			<td>
				<select *ngIf="!printMode" class="form-control" [(ngModel)]="income.income_type">
					<option value="cartao">Cartão</option>
					<option value="cheque">Cheque</option>
					<option value="deposito">Depósito</option>
					<option value="pix">Pix</option>
					<option value="outros">Outros</option>
				</select>
				<span *ngIf="printMode">{{income.income_type}}</span>
			</td>
			<td>
				<input *ngIf="!printMode" type="text" class="form-control" [(ngModel)]="income.origin"/>
				<span *ngIf="printMode">{{income.origin}}</span>
			</td>
			<td>
				<input *ngIf="!printMode" type="text" class="form-control" mask="separator.2" [(ngModel)]="income.value"/>
				<span *ngIf="printMode">{{income.value | currency:'BRL'}}</span>
			</td>
			<td *ngIf="!printMode"><button class="btn btn-sm btn-danger" (click)="remove(income)">x</button></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td>Total:</td>
			<td>{{total | currency:'BRL'}}</td>
			<td></td>
		</tr>
	</tfoot>
</table>
<div class="pager" *ngIf="!collapsed && !printMode && visibleIncomes.length > pageSize">
	<button type="button" class="btn btn-sm btn-outline-secondary" (click)="goToPage(page - 1)" [disabled]="page <= 1">Anterior</button>
	<span>Página {{page}} de {{pageCount}} · {{visibleIncomes.length}} entradas</span>
	<button type="button" class="btn btn-sm btn-outline-secondary" (click)="goToPage(page + 1)" [disabled]="page >= pageCount">Próxima</button>
	<select class="form-control pager-size" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()">
		<option *ngFor="let size of pageSizes" [ngValue]="size">{{size}} por página</option>
	</select>
</div>
<div *ngIf="canSave" class="send-container">
	<button class="btn btn-lg btn-primary" (click)="save()" [disabled]="sending">
		Enviar
	</button> <i *ngIf="sending">Enviando... por favor aguarde</i>
	&nbsp; &nbsp; &nbsp;
	<button class="btn btn-lg btn-warning" (click)="export()" [disabled]="sending || incomes().length == 0">
		Exportar
	</button>
</div>