<div class="ins-container">
	<h4>Insira a informação</h4>
	<ngb-datepicker [displayMonths]="1"
									outsideDays="hidden"
									[maxDate]="today"
									[(ngModel)]="fromDate"/>
	<div class="ins-body">
		<div class="ins-type-btns">
			<button class="btn btn-sm btn-default btn-purchase"
							[class.selected]="insertType == 'purchase'"
							(click)="insertType = 'purchase'">saída</button>
			<button class="btn btn-sm btn-default btn-income"
							[class.selected]="insertType == 'income'"
							(click)="insertType = 'income'">entrada</button>
		</div>

		<!-- Purchase fields -->
		<div *ngIf="insertType == 'purchase'">
			<div class="field-div">
				<label class="field-label">Fornecedor:</label>
        <ng-select id="ngssup" [items]="suppliers"
                    bindLabel="name"
                    autofocus
                    bindValue="name"
                    [(ngModel)]="purchase.supplier_name"
                    (change)="changedNgSelectObj($event)"
                    addTag="true">
        </ng-select>
			</div>
			<div class="field-div">
				<label class="field-label">CNPJ (só números):</label>
				<input type="text" [(ngModel)]="purchase.supplier_cnpj" class="form-control"/>
			</div>
			<div class="field-div">
				<label class="field-label">Banco (de onde o dinheiro saiu): </label>
        <ng-select id="ngsbank" [items]="banks"
                    autofocus
                    [(ngModel)]="selectedBank"
                    addTag="true">
        </ng-select>
			</div>
			<div class="field-div">
				<label class="field-label">Foi pago a terceiros? (ex: reembolso pago ao sócio)</label> &nbsp; &nbsp;
        <input type="checkbox" [(ngModel)]="hasReferral"/>
			</div>
			<div *ngIf="hasReferral" class="field-div">
				<label class="field-label">Nome de quem recebeu: </label>
        <ng-select id="ngsbank" [items]="referrals"
                    autofocus
                    [(ngModel)]="purchase.referral"
                    addTag="true">
        </ng-select>
			</div>
			<div class="field-div">
				<label class="field-label">Total de Parcelas: </label>
        <input type="number" min="1" max="36" [(ngModel)]="purchase.installments" class="form-control"/>
			</div>
			<div class="field-div">
				<label class="field-label">Valor da parcela: </label>
        <input type="number" min="0.01" [(ngModel)]="purchase.base_value" class="form-control"/>
			</div>
			<div *ngIf="purchase.installments >= 1 && purchase.base_value > 0" class="field-div">
				<label class="field-label">Forma de Pagamento</label>
				<select [(ngModel)]="purchase.payment_type" (change)="paymentTypeChanged()" class="form-control">
					<option value="" disabled>Selecione</option>
					<option value="boleto">Boleto</option>
					<option value="debit_card">Cartão de Débito</option>
					<option value="credit_card">Cartão de Crédito</option>
					<option value="pix">PIX</option>
					<option value="check">Cheque</option>
					<option value="cash">Dinheiro</option>
					<option value="transfer">Transferência</option>
					<option value="other">Outro</option>
				</select>
			</div>
			<div *ngIf="purchase.payment_type == 'boleto' && boletos.length > 0" class="field-div">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Parcela</th>
							<th>Vencimento</th>
							<th>Valor</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let bol of boletos">
							<td>{{bol.installments}}</td>
							<td>
								<input type="text" class="form-control" [(ngModel)]="bol.expiration_date" mask="99/99/9999"/>
							</td>
							<td>
								<input type="text" class="form-control" [(ngModel)]="bol.value" mask="separator.2"/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="field-div">
				<label class="field-label">Observações:</label>
				<textarea rows="5" class="form-control" [(ngModel)]="purchase.additional_info"></textarea>
			</div>
		</div>
		<!--- --->

		<!---------------------------------------->

		<div *ngIf="insertType == 'income'">
			
		</div>
	</div>
	<div class="footer-buttons">
		<button class="btn btn-lg btn-warning" (click)="back()">VOLTAR</button> &nbsp; &nbsp; &nbsp;
		<button class="btn btn-lg btn-primary" (click)="send()" [disabled]="!fromDate">INSERIR</button>
	</div>
</div>