.field-label {
	display: block;
	font-weight: bold;
}
.hidden {
	display: none;
}
.title th {
	text-align: center;
}
.mustard td{
	background-color: #f2eb80;
}
.grass td{
	background-color: #9fd283;
}
.send-container {
	text-align: center;
}