<table class="table" *ngIf="summary()">
	<thead>
		<tr class="title">
			<th colspan="3">RECEITAS (SIMPLIFICADO)</th>
		</tr>
		<tr>
			<th>Tipo (cred/deb/outros)</th>
			<th>Origem (master/visa/outros)</th>
			<th>Valor Total</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let keyVal of summary().credit | keyvalue" [class.hidden]="keyVal.key == 'total'">
			<td>Crédito</td>
			<td>{{keyVal["key"]}}</td>
			<td>{{keyVal["value"] | currency:'BRL'}}</td>
		</tr>
		<tr class="mustard">
			<td>Crédito</td>
			<td>TOTAL</td>
			<td>{{summary().credit.total | currency:'BRL'}}</td>
		</tr>
		<tr *ngFor="let keyVal of summary().debit | keyvalue" [class.hidden]="keyVal.key == 'total'">
			<td>Débito</td>
			<td>{{keyVal["key"]}}</td>
			<td>{{keyVal["value"] | currency:'BRL'}}</td>
		</tr>
		<tr class="mustard">
			<td>Débito</td>
			<td>TOTAL</td>
			<td>{{summary().debit.total | currency:'BRL'}}</td>
		</tr>
		<tr class="info">
			<td>Outros Cartões</td>
			<td>TOTAL</td>
			<td>{{summary().other_cards | currency:'BRL'}}</td>
		</tr>
		<tr class="mustard">
			<td>PIX</td>
			<td>TOTAL</td>
			<td>{{summary().pix | currency:'BRL'}}</td>
		</tr>
		<tr class="info">
			<td>Outras Entradas</td>
			<td>TOTAL</td>
			<td>{{summary().other_incomes | currency:'BRL'}}</td>
		</tr>
		<tr class="grass">
			<td>TOTAL DE RECEITAS</td>
			<td>-</td>
			<td>{{summary().grandTotal | currency:'BRL'}}</td>
		</tr>
	</tbody>
</table>