<div *ngIf="curAction == 'init'" class="actions">
	<div>
		<button class="btn btn-lg btn-primary" (click)="curAction = 'query'">CONSULTAR</button>
	</div>
	<div>
		<button class="btn btn-lg btn-secondary" (click)="insertAction()">INSERIR</button>
	</div>
</div>


<div class="dp-container" *ngIf="curAction == 'query'">
	<h4>Selecione o período por data</h4>
	<ngb-datepicker [displayMonths]="2"
									[dayTemplate]="dayTemplate"
									outsideDays="hidden"
									(dateSelect)="onDateSelection($event)"/>
	<div class="footer-buttons">
		<button class="btn btn-lg btn-warning" (click)="resetAction()">VOLTAR</button> &nbsp; &nbsp; &nbsp;
		<button class="btn btn-lg btn-primary" (click)="queryEntries()" [disabled]="!fromDate">PESQUISAR</button>
	</div>
</div>

<!-- Templates -->
<ng-template #dayTemplate let-date let-focused="focused">
	<span
		class="custom-day"
		[class.focused]="focused"
		[class.range]="isRange(date)"
		[class.faded]="isHovered(date) || isInside(date)"
		(mouseenter)="hoveredDate = date"
		(mouseleave)="hoveredDate = null"
	>
		{{ date.day }}
	</span>
</ng-template>
<!----------------------->