.custom-day {
	text-align: center;
	padding: 0.185rem 0.25rem;
	display: inline-block;
	height: 2rem;
	width: 2rem;
}
.custom-day.focused {
	background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
	background-color: rgb(2, 117, 216);
	color: white;
}
.custom-day.faded {
	background-color: rgba(2, 117, 216, 0.5);
}
.actions {
	text-align: center;
	button {
		margin-top: 2em;
		font-size: 2em;
		border-radius: 0;
		width: 10em;
	}
}
.dp-container, .ins-container {
	text-align: center;
	h4 {
		padding: 1em 0;
	}
	.footer-buttons {
		padding-top: 1em;
	}
}
.ins-container {
	max-width: 30em;
	margin: auto;

	.ins-type-btns {
		margin: 1em 0;
		button {
			border-radius: 0;
		}
		.btn-purchase {
			border: 1px solid blue;
			border-right: 0;
		}
		.btn-income {
			border: 1px solid blue;
		}
		.selected {
			background-color: darkblue;
			color: #fafafa;
		}
	}
}