<div class="row">
	<div class="col-lg-4">
		<label class="field-label">Para enviar o extrato, primeiro selecione o banco:</label>
		<select [(ngModel)]="selectedBank" class="form-control" (change)="bankChanged()">
			<option value="" disabled>Selecione</option>
			<option value="sicoob">Sicoob</option>
			<option value="sicredi">Sicredi</option>
			<option value="stone">Stone</option>
		</select>
	</div>
	<div class="col-lg-4" *ngIf="selectedBank">
		<label class="field-label">Extrato ({{parser.acceptedFormats}})</label>
		<input id="extrato_file" type="file" [accept]="parser.acceptedFormats" (change)="extratoFileChanged($event)"/>
	</div>
	<div class="col-lg-4 send-comprovante" *ngIf="parser && parser.allowsComprovantes && parser.boletos && parser.boletos.length > 0">
		<label class="field-label">Texto comprovantes</label>
		<textarea id="comprovanteTxt" class="form-control" rows="5" placeholder="Cole aqui o texto dos comprovantes do mes"></textarea>
		<button class="btn btn-md btn-primary" (click)="setComprovante()">ENVIAR</button>
	</div>
</div>
<br/>

<app-income-sum *ngIf="parser.incomeSummary.grandTotal > 0" [summary]="parser.incomeSummary"></app-income-sum>

<br/>

<app-income [incomes]="parser.incomes || []" [collapse]="true" (onChange)="changedIncome($event)"></app-income>

<br/>

<app-boleto [boletos]="parser.boletos || []" [collapse]="true"></app-boleto>

<br/>

<app-purchase [purchases]="parser.purchases || []" [collapse]="true"></app-purchase>

<div>
	<button class="btn btn-lg btn-primary" (click)="send()" [disabled]="sending">SALVAR</button>
	&nbsp; &nbsp; &nbsp;
	<i *ngIf="sendingCount > 0">Faltam {{sendingCount}} itens</i>
</div>