.field-label {
	display: block;
	font-weight: bold;
}
.hidden {
	display: none;
}
.send-comprovante {
	position: relative;
	button {
    position: absolute;
    bottom: 0;
    right: 0.8em;
    border-radius: 0;
  }
}